
.services h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
}

.services {
    background-color: steelblue;
   padding-top: 50px;
    padding-bottom: 50px; 
    text-align: center;
}

.services h2 {
    font-size: 30px;
   margin-top: 0;
   margin-bottom: 48px;
    color: white;
}

.row {
    display: flex;
    justify-content: space-around;
}

.services > .row span {
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 30px;
   
}

.services > .row span ion-icon {
    contain: none;
    height: 100px;
    color:steelblue;
}
.services > .row p ion-icon {
    color:red;
}
.services > .row h4{
   font-size: 24px;
    color:white;
    margin-bottom: 0;
}

.services > .row p{
    margin-top: 0;
     color:white;
     font-size: 16px;
 }
